/* POLICES */

@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.eot') format('eot'),
         url('fonts/fontawesome-webfont.woff') format('woff'),
         url('fonts/fontawesome-webfont.ttf') format('truetype'),
         url('fonts/fontawesome-webfont.svg') format('svg');
}

@font-face {
    font-family: 'glyphicons';
    src: url('fonts/glyphicons-halflings-regular.eot') format('eot'),
         url('fonts/glyphicons-halflings-regular.woff') format('woff'),
         url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
         url('fonts/glyphicons-halflings-regular.svg') format('svg');
}

/* general */
*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: 'FontAwesome', sans-serif;
	font-size: 16px;
	color: #4E544D;
	font-size: 1em;
}

.container
{
	margin:0 0%;
}

h1
{
	color: #FFF;
	text-transform: uppercase;
	font-size: 1.6em;
}

h2
{
	text-transform: uppercase;
	color: #000100;
	font-size: 2em;
	text-align: center;
}

h3
{
	color: #000100;
	font-size: 1.3em;
}

a
{
	text-decoration: none;
	color: #000;
}

ul
{
	list-style-type: none;
}

.blue_text
{
	color: #4494bb;
}
.white_text
{
	color: #FFF;
    max-width: 450px;
}



.btn
{
	background-color: #4494bb;
	color: #FFF;
	width: 90px;
	padding: 15px;
	border-radius: 3px;
	font-weight: bold;
}

/* navbar - header */

header 
{
	display: flex;
    position: fixed;
    margin-right: 100px;
    width: 100%;
    max-width: 2556px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    background: white;
    z-index: 1000;
    top: 0;
}
header img
{
	margin: 32px 0;
	width: 261px;
	height: 57px;
	
}



header nav ul 
{
	display: flex;
}

header nav li 
{
	margin-left: 25px;
    
}
header nav a
{
    color: #64686d;
	
}

header nav a:hover
{
	border-top: 3px solid #4494bb;
    color: #000100;
	padding: 49px 0;
	
}

/*  banniére */

#slide {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.banner
{
    margin-top: 150px;
    justify-content: center;
    max-width: 2556px;
    position: relative;
    
}

.banner img
{
	width: 100%
}

.banner_text
{
	position: absolute;
    top: 40%;
    margin-bottom: 20px;
    justify-content: center;
    font-size: 1em;
    left: 50px;
    padding-left: 80px;
}

.banner_text h1, .banner_text p
	{
        bottom: 500%;
	}
.sub_text
{
	color: #FFF;
	margin: 0 0 30px 0;
}

.barre_blue {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    top: -6px;
    justify-content: center;
    left: 0;
}
.second_image {
    width: 200px;
    height: 4px;
    background-color: #5cadd3;
}

.chevron_right  {
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    right: 0;
    width: 100%;
}

.chevron_left {
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    left: 0;
}

.chevron_left, .chevron_right {
    width: 25px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    top: 47%;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.chevron_left:hover, .chevron_right:hover {
    width: 25px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    top: 47%;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.fa-chevron-left, .fa-chevron-right {
    color: white;
    bottom: 16px;
    position: absolute;
    margin: auto;
    font-style: normal;
}

.fa-chevron-right {
    right: 0;
}

.fa-chevron-left{
    left: 0;
}

/* fa - fleche */

.fa {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
}


/*  section services  */

.services
{
	margin-bottom: 16px;
    max-width: 2556px;
}

.blc_service_text
{
	max-width: 700px;
	display: flex;
    left: -50px;
}

.blc_service
{
	display: flex;
	justify-content: center;
    text-align: justify;
}

.blc_service_column
{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.blc_service_titre
{
    text-align: center;
	margin: 32px 0 32px 10px;

}

.blc_1,.blc_2,.blc_3
{
	padding: 10px;
	padding-left: 10px;
	align-self: flex-end;
}

.blc_service_text
{
	margin-left: 40px;
}

.blc_1 h3:before
{
	
	float: left;
	margin-right: 10px;
}

.blc_2 h3:before
{

	float: left;
	margin-right: 10px;
}

.blc_3 h3:before
{
	float: left;
	margin-right: 10px;
}

.blc_2
{
	margin: 10px 0;
}

.white_bloc
{

	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
}

.white_point
{
	position: relative;
	background-color: #FFF;
	width: 23px;
	height: 23px;
	border-radius: 50%;
}

.blue_point
{
	position: absolute;
	top: 5px;
	left: 5px;
	background-color: #4494bb;
	width: 13px;
	height: 13px;
	border-radius: 50%;
}

.row
{
	width: 58px;
	height: 1px;
	background-color: #4E544D;
	opacity: 0.2;
}

.main_feature {
     /* width: 25%; */
     /* margin: auto;*/
     /* height: 1%; */
     bottom: 600px;
     margin-bottom: 120px;
}

.service_point 
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.service_point .cercle_chart {
    margin: 0px;
    border: 1px solid #d5d5d5;
    border-radius: 50%;
    position: relative;
    font-size: 2em;
    left: -20px;
    width: 60px;
	height: 60px;
    top: -50%;
}

.blue_point_service
{
    position: absolute;
	top: 30px;
	left: 50px;
	background-color: #4494bb;
	width: 13px;
	height: 13px;
	border-radius: 50%;
}

.white_point_service
{
	position: absolute;
	background-color: #FFF;
	width: 33px;
	height: 33px;
	border-radius: 50%;
    top: 20px;
	left: 40px;
}
 .fa_logo
{
    color: #5cadd3;
    position: relative;
	width: 23px;
	height: 23px;
	border-radius: 50%;
    margin-top: -13px;
    flex-direction: column;
    font-size: 70%;
    left: -37px;
    padding-top: 0px;
    
}

.service_point1
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.service_point1 .cercle_chart1 {
    margin: 0px;
    border: 1px solid #d5d5d5;
    border-radius: 50%;
    position: relative;
    font-size: 2em;
    left: -30px;
    width: 60px;
	height: 60px;
    top: -50%;
}

.blue_point_service1
{
    position: absolute;
	top: 30px;
	left: 50px;
	background-color: #4494bb;
	width: 13px;
	height: 13px;
	border-radius: 50%;
}

.white_point_service1
{
	position: absolute;
	background-color: #FFF;
	width: 33px;
	height: 33px;
	border-radius: 50%;
    top: 20px;
	left: 40px;
}
 .fa_logo1
{
    color: #5cadd3;
    position: relative;
	width: 23px;
	height: 23px;
	border-radius: 50%;
    margin-top: -14px;
    flex-direction: column;
    font-size: 70%;
    left: -38px;
    padding-top: 0px;
    
}

.service_point2
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.service_point2 .cercle_chart2 {
    margin: 0px;
    border: 1px solid #d5d5d5;
    border-radius: 50%;
    position: relative;
    font-size: 2em;
    left: -40px;
    width: 60px;
	height: 60px;
    top: -50%;
}

.blue_point_service2
{
    position: absolute;
	top: 30px;
	left: 50px;
	background-color: #4494bb;
	width: 13px;
	height: 13px;
	border-radius: 50%;
}

.white_point_service2
{
	position: absolute;
	background-color: #FFF;
	width: 33px;
	height: 33px;
	border-radius: 50%;
    top: 20px;
	left: 40px;
}
 .fa_logo2
{
    color: #5cadd3;
    position: relative;
	width: 23px;
	height: 23px;
	border-radius: 50%;
    margin-top: -12px;
    flex-direction: column;
    font-size: 70%;
    left: -34px;
    padding-top: 0px;
    
}

.titre_left
{
    padding-left: 100px;
}

/* section - les projets realisent */

.projets
{
	background-color: #f5f5f5;
	padding-top: 15px;
	padding-bottom: 60px;
    max-width: 2556px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}

.groupe_bouton
{
	margin-bottom: 20px;
}

.groupe_bouton a
{
	text-decoration: none;
	display: flex;
	justify-content: center;
	color: #272727;
	font-size: 1em;
}

.border_right a
{
	text-decoration: none;
	display: flex;
	justify-content: center;
	color: #f5f5f5;
	font-size: 1em;
}
.groupe_bouton ul
{
	display: flex;
	padding: 0;
	margin: 0;
	justify-content: center;
}

.groupe_bouton ul li
{
	position: relative;
	list-style-type: none;
	background-color: #e5e5e5;
	padding: 20px;
}
.groupe_bouton li:first-child 

{
	position: relative;
	list-style-type: none;
	background-color: #5cadd3;
	padding: 20px;
}
.fleche
{
	position: absolute;
	width: 0%;
  	height: 0%;
	opacity: 0;
  	border-left: 10px solid transparent;
  	border-right: 10px solid transparent;
  	top: 100%;
  	left: 40%;
  	border-top: 10px solid #4494bb;
}

.fleche1
{
	position: absolute;
	width: 0;
  	height: 0;
  	border-left: 10px solid transparent;
  	border-right: 10px solid transparent;
  	top: 100%;
  	left: 40%;
    border-top: 10px solid #4494bb;
    color: #4494bb;
}

.border_right
{
	border-radius: 5px 0 0 5px;
    background-color: #4494bb;
    border-bottom: 2px solid #4494bb;
}


.border_left
{
	border-radius: 0 5px 5px 0;
    color: #4B96E1;
}

.border_right .groupe_bouton ul li 
{
	background-color: #4494bb;
}

.groupe_bouton ul li:hover 
{
	background-color: #5cadd3;
    border-bottom: 2px solid #4494bb;
}

.groupe_bouton ul li .fleche
{
	opacity: 0;
}


.groupe_bouton ul li:hover .fleche
{
	opacity: 2;
}

.groupe_bouton ul li:hover a
{
	color: #FFF;
}

/* portfolio image */

.portfolio
{
    text-align: center;
    /* flex-wrap: wrap; */
    /* display: flex; */
    /* width: 100%; */
    /* justify-content: space-around; */
}

.portfolio h3
{
	color: #FFF;
    padding-bottom: 10px;
}

.portfolio figure
{
    position: relative;
    margin: 10px 10px 10px 10px;
    height: auto;
    display: inline-block;
    width: 22%;
    margin: 10px 10px 10px 10px;

}

.portfolio div h3
{
	margin-top: 10px;
	margin-left: 10px;
}

.portfolio div p
{
	margin-left: 10px;
}


.portfolio figure figcaption
{
	text-align: left;
	background-color: rgba(0, 0, 0, 0.5);
	width: 90%;
	height: 40%;
	color: #FFF;
	position: absolute;
	bottom: 3px;
	opacity: 0;
    display: block;
    padding-left: 10%;
}


.portfolio figure:hover figcaption
{
	opacity: 1;
}

.portfolio figure:after
{
	position: absolute;
	top: 50%;
	right: 5%;

	width: 5px;
    height: 5px;
    opacity: 0;
	
}

.portfolio figure:hover:after
{
	opacity: 0.7;
}

.portfolio figure img
{
	width: 100%;
}

.fa-eye
{
  background-color: #4494bb;
  color: #d5d5d5;
  right: 30px;
  border: 2px solid #d5d5d5;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  bottom: 83%;
  z-index: 20;
  position: absolute;
  opacity: 3;
  display: block;
    
}


/* footer formulaire de contact */

footer
{
	position: relative;
    max-width: 2556px;
}

footer form textarea
{
	padding: 15px 0px;
	font-family: 'FontAwesome', sans-serif;
}


#contact
{
	position: absolute;
	display: flex;
	justify-content: flex-end;
	top: 18%;
	right: 10%;
}

#contactform
{
 	z-index: 1; 
    padding: 20px;
    background: rgba(255,255,255, 1);
    height: auto;
    border-radius: 3px;
}

.form_contact
{
	height: 33px;
}

#contactform form
{
	display: flex;
  	flex-direction: column;
    width: 95%;
}

#contactform form textarea
{

	height: 160px;
}

#contactform form textarea, .form_contact
{
	max-width: 354px;
	border-radius: 3px;
	margin-bottom: 10px;
	border: 1px solid #777777;
}

#contactform p
{
	margin: 15px 0;
}


/* boutton formulaire de contact */
#button_send
{
	background-color: #468cad;
	border-style: none;
	padding: 10px;
	color: #FFF;
	font-weight: bold;
	font-size: 1em;
	border-radius: 4px;
    width: 50%;
}


/* case */

iframe {
    
	height: 800px;
	width: 100%;
	left: 0;
	right: 0;
	border: 0;
    
}

.case_blue

{
	position: absolute;
	background-color: #4494bb;
	width: 100%;
	height: 800px;
	top:0;
	opacity: 0.2;

}


/* media queries */

@media all and (max-width: 2000px)
{
    .fa-eye {
    position: absolute;
    background-color: #4494bb;
    color: #d5d5d5;
    padding: 10px;
    border: 2px solid #d5d5d5;
    border-radius: 50%;
    right: 10px;
    bottom: 80%;
    z-index: 80;
        }
}

@media all and (max-width: 1800px)
{
    .fa-eye {
    position: absolute;
    background-color: #4494bb;
    color: #d5d5d5;
    padding: 10px;
    border: 2px solid #d5d5d5;
    border-radius: 50%;
    right: 10px;
    bottom: 80%;
    z-index: 80;
        }
}

@media all and (max-width: 1400px)
{
    .fa-eye {
    position: absolute;
    background-color: #4494bb;
    color: #d5d5d5;
    padding: 10px;
    border: 2px solid #d5d5d5;
    border-radius: 50%;
    right: 10px;
    bottom: 70%;
    z-index: 80;
        }
}




/*  header */

@media all and (max-width: 650px)
{
	header
	{
		flex-direction: column;
		padding-bottom: 30px;
        padding: 10px 0;
	}

	header nav a:hover
	{

        padding: 10px 0;
        border-top: 3px solid #4494bb;
        color: #000100;
	}

}

/* banniére */

@media all and (max-width: 650px)
{
		.banner, .banner_text
	{
		position: initial;
	}
    .banner img
    {
        position: relative;
        
    }
    
    .banner_text {
    position: relative;
    flex-direction: column;
    bottom: 190px;
    max-width: 500px;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: center;
    text-align: justify;
    font-size: 1em;
    left: 50px;
    margin-right: 10%;
    padding-left: 0px;
}
	.banner_text h1, .banner_text p
	{
		color: #4E544D;
       
	}
    .barre_blue {
    position: relative;
    width: 340px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 480px;
    justify-content: center;
}
   .second_image {
    width: 200px;
    height: 4px;
    background-color: #5cadd3;
} 
    .main_feature {
    width: 75%;
    margin: auto;
}
  .groupe_bouton ul li {
    position: relative;
    list-style-type: none;
    background-color: #e5e5e5;
    padding: 10px;
     
}
}

@media all and (max-width: 650px)
{
    
    
    .banner_text {
    flex-direction: column;
    bottom: -100%;
    max-width: 500px;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: center;
    text-align: justify;
    font-size: 1em;
    left: 50px;
    margin-left: 10%;
    padding-left: 0px;
}
    .banner_text h1, .banner_text p
	{
		color: #4E544D;
       
	}
    
    .barre_blue {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    top: 1%;
    justify-content: center;
}
   .second_image {
    width: 200px;
    height: 4px;
    background-color: #5cadd3;
}
    
    .chevron_left, .chevron_right {
    width: 25px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    top: 22%;
    position: absolute;
    display: flex;
    flex-direction: row;
    
}
    
    .chevron_left:hover, .chevron_right:hover {
    width: 25px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    top: 22%;
    position: absolute;
    display: flex;
    flex-direction: row;
}

    .main_feature {
    width: 75%;
    margin: auto;
}
    .fa-eye {
    position: absolute;
    background-color: #4494bb;
    color: #d5d5d5;
    padding: 10px;
    border: 2px solid #d5d5d5;
    border-radius: 50%;
    right: 10px;
    bottom: 80%;
    z-index: 80;
        }
    
      }
/* section service */

@media all and (max-width: 1000px)
{
	.blc_service
	{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
    
    .main_feature {
    /* width: 25%; */
    /* margin: auto; */
    /* height: 1%; */
    bottom: 600px;
    margin-bottom: 0px;
}
}

@media all and (max-width: 410px)
{
	.services .blc_service img
	{
		display: flex;
	}
}

/* portfolio */
@media all and (max-width: 1023px)
{
   	.portfolio figure
   	{
   		width: 40%;
   	}
    
    .banner_text {
    top: 30%;
    max-width: 500px;
    margin-bottom: 20px;
    justify-content: center;
    font-size: 1em;
    left: 0px;
    margin-right: 10%;
}
    .fa-eye {
    position: absolute;
    background-color: #4494bb;
    color: #d5d5d5;
    padding: 10px;
    border: 2px solid #d5d5d5;
    border-radius: 50%;
    right: 10px;
    bottom: 80%;
    /* z-index: 80; */
}
    
}

@media all and (max-width: 650px)
{
   .groupe_bouton ul {
    flex-direction: column;
}
     .fa-eye {
    position: absolute;
    background-color: #4494bb;
    color: #d5d5d5;
    padding: 10px;
    border: 2px solid #d5d5d5;
    border-radius: 50%;
    right: 10px;
    bottom: 80%;
    /* z-index: 80; */
}
    
}

@media all and (max-width: 520px)
{
.chevron_left, .chevron_right {
    width: 25px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    top: 17%;
    position: absolute;
    display: flex;
    flex-direction: row;
}
    
    .chevron_left:hover, .chevron_right:hover {
    width: 25px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    top: 17%;
    position: absolute;
    display: flex;
    flex-direction: row;
}
}

@media all and (max-width: 420px)
{
.chevron_left, .chevron_right {
    width: 25px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    top: 14%;
    position: absolute;
    display: flex;
    flex-direction: row;
}
    .chevron_left:hover, .chevron_right:hover {
    width: 25px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    top: 14%;
    position: absolute;
    display: flex;
    flex-direction: row;
}
        header nav li 
{
	margin-left: 10px;
    
}
}


@media all and (max-width: 320px)
{
.chevron_left, .chevron_right {
    width: 25px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    top: 12%;
    position: absolute;
    display: flex;
    flex-direction: row;
}
    
.chevron_left:hover, .chevron_right:hover {
    width: 25px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    top: 12%;
    position: absolute;
    display: flex;
    flex-direction: row;
}
    #button_send {
        width: 100%;
    }
    
    
    .portfolio figure figcaption
{
	/* text-align: left; 
	background-color: rgba(0, 0, 0, 0.5); */
    /* height: 40%; */
	 /* color: #FFF;
	position: absolute;
	bottom: 3px;
	opacity: 0;
    display: block;
    padding-left: 10%; */
    width: 60%;
    height: 40%;
    margin-left: 15%;
}
    
    .portfolio figure img
   	{
   		width: 70%;
   	}
    
}

@media all and (max-width: 299px)
{
.chevron_left, .chevron_right {
    width: 25px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    top: 7%;
    position: absolute;
    display: flex;
    flex-direction: row;
}
    
.chevron_left:hover, .chevron_right:hover {
    width: 25px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    top: 7%;
    position: absolute;
    display: flex;
    flex-direction: row;
}
    .fa-eye {
    position: absolute;
    background-color: #4494bb;
    color: #d5d5d5;
    padding: 10px;
    border: 2px solid #d5d5d5;
    border-radius: 50%;
    right: 10px;
    bottom: 70%;
    /* z-index: 80; */
}
}

@media all and (max-width: 200px)
{
.chevron_left, .chevron_right {
    width: 25px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    top: 5%;
    position: absolute;
    display: flex;
    flex-direction: row;
}
    .chevron_left:hover, .chevron_right:hover {
    width: 25px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    top: 5%;
    position: absolute;
    display: flex;
    flex-direction: row;
}
}

@media all and (max-width: 769px)
{
   	.portfolio figure
   	{
   		width: 80%;
   	}

   	.portfolio figure:after
	{

		top: 45%;
	}
    
.portfolio figure {
    width: 80%;
}
    .fa-eye {
    position: absolute;
    background-color: #4494bb;
    color: #d5d5d5;
    padding: 10px;
    border: 2px solid #d5d5d5;
    border-radius: 50%;
    right: 10px;
    bottom: 85%;
    z-index: 80;
}
    
}

@media only screen and (max-width: 550px)
    {
.fa-eye {
    position: absolute;
    background-color: #4494bb;
    color: #d5d5d5;
    padding: 10px;
    border: 2px solid #d5d5d5;
    border-radius: 50%;
    right: 10px;
    bottom: 80%;
    z-index: 80;
}
}
@media only screen and (max-width: 320px)
    {
.fa-eye {
    position: absolute;
    background-color: #4494bb;
    color: #d5d5d5;
    padding: 10px;
    border: 2px solid #d5d5d5;
    border-radius: 50%;
    right: 10px;
    bottom: 55%;
    z-index: 80;
}
        }
/* footer  boutton/formulaire */
@media all and (max-width: 769px)
{
	#contact
	{
		justify-content: center;
        width: 100%;
        padding: 40px 0 40px 0;
		right: 0;
		left: 0;
        flex-direction: column-reverse;
        display: flex;
        position: relative;
	}
    
  .case_blue {
    position: absolute;
      display: flex;
    background-color: #4494bb;
    width: 100%;
    height: 800px;
    top: auto;
    bottom: 0;
    opacity: 0.2;
    flex-direction: column
    
}

}

@media all and (max-width: 770px)
{

	#contactform form textarea, .form_contact
	{
		max-width: 354px;
	}
    
}

/* fa -fleche */
